<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Filtre iPhone</nom>
 	<version>1.0</version>
 	<prefix>filtreiphone</prefix>
	<type>classique</type>
 	<auteur>Yoan De Macedo - yoan@octolys.fr</auteur>
 	<thelia>1.4.0</thelia>
 	<description>Ce filtre vous permet d’afficher une info si l’utilisateur utilise ou non un iPhone.</description>
	<lien>http://contrib.thelia.fr/spip.php?article43</lien>
	<documentation>Readme.txt</documentation>
 	<etat>production</etat>
	<install>http://contrib.thelia.fr/IMG/zip/filtreiphone.zip</install>
</plugin>