<html>
<head>
	<link href='style.css' type='text/css' rel='stylesheet'/>
	<script src='jquery.js' type='text/javascript'></script>
	<script src='menu.js' type='text/javascript'></script>
</head>


<body>

	<ul id="Nav">
		<li>
			Test 1
			<ul class="Menu">
				<li><a href="#">Sous element 1</a></li>
				<li><a href="#">Sous element 2</a></li>
			</ul>
		</li>
		
		<li>
			Test 2
			<ul class="Menu">
				<li><a href="#">Sous element 3</a></li>
				<li><a href="#">Sous element 4</a></li>
			</ul>
		</li>
	</ul>

</body>


</html>