<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "meta.html"
	
	<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> /	
		Mes coodonn&eacute;es
		</div>

<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
				<div id="ombremenu"><img src="_gfx/ombrecontenugauche.png" /></div>
				
	<!-- Etapes de commande -->
			  	<div class="titrePage">
					<img src="_gfx/etape1on.png" style="margin-left:100px;"/> 
					<img src="_gfx/sepetape.png" /> 
					<img src="_gfx/etape2off.png"  /> 
					<img src="_gfx/sepetape.png" /> 
					<img src="_gfx/etape3off.png" /> 
					<img src="_gfx/sepetape.png" /> 
					<img src="_gfx/etape4off.png" />
				</div>

	<!-- Titre de la rubrique -->		  
			  <div id="contenu_texte" >
			  		<div class="titrePage" style="margin-left:10px;" >
						<h2>Mes coordonn&eacute;es </h2>
						<br />
					</div>
				
	<!-- Mon adresse de facturation -->
					<div id="contenu_texte" style="float:left;width:340px;">
						<div class="sousTitrePage">
							<h3>Mon adresse de facturation </h3>
						</div>
				
					<span class="textePage">
						#CLIENT_RAISON #CLIENT_PRENOM #CLIENT_NOM
						<br />
						#CLIENT_ADRESSE1 #CLIENT_ADRESSE2 #CLIENT_ADRESSE3<br />
						#CLIENT_CPOSTAL #CLIENT_VILLE #CLIENT_PAYS<br />
					</span>
				
					<a href="compte_modifier.php">Modifier cette adresse</a>

					</div>
				
	<!-- Mon adresse de livraison -->
					<div id="contenu_texte" style="float:left;width:340px;padding-left:50px;border-left-width: 1px;border-left-style: dotted;border-left-color: #12335b;" >	
						<div class="sousTitrePage">
								<h3>Mon adresse de livraison </h3>
						</div>
				
						<THELIA_adrcours type="ADRESSE" adresse="#ADRESSE_ACTIVE">
							<span class="textePage">
								#RAISON #PRENOM #NOM	
								<br />
								#ADRESSE1 #ADRESSE2 #ADRESSE3
								<br />
					  			#CPOSTAL #VILLE 
				
					  			<THELIA_pays type="PAYS" id="#PAYS">
					  				#TITRE	
					  			</THELIA_pays>
				  			</span>
							<br />
							<THELIA_adrmodcours type="ADRESSE" adresse="#ADRESSE_ACTIVE" defaut="0">
									  <a href="livraison_modifier.php?adresse=#ID">Modifier cette adresse</a>
							</THELIA_adrmodcours>
				 		</THELIA_adrcours>
					
						<br />
						<br />
						<span class="commentaires"> S&eacute;lectionnez une autre adresse de livraison : </span>
						<br />
						<a href="adresse.php?action=modadresse&amp;adresse=0">Mon adresse de facturation par d&eacute;faut </a>
						<br />

						<THELIA_adr type="ADRESSE" client="#CLIENT_ID">
							<a href="adresse.php?action=modadresse&amp;adresse=#ID">#LIBELLE</a>
						</THELIA_adr>

						<br />
						<a href="livraison_adresse.php">Ajouter une adresse de livraison </a><br />
						<br />
					</div>
				
					<div id="contenu_texte" style="width:760px;" >
						<div class="titrePage">
							<h2>Choix du mode de livraison </h2>
						</div>

						<!-- contenu de la page -->
				
						<div class="sousTitrePage">
							<h3>Type de livraison &amp; tarif </h3>
						</div>

						<div class="textePage">
							<THELIA_transport type="TRANSPORT">
								#TITRE #PORT &euro;
								<br />
								<div class="boutonMonCompteContenu" style="width:725px;">
									<a href="#URLPREC"><img src="_gfx/precedent.png" /></a>
									&nbsp;
									<a href="#URLCMD"><img src="_gfx/valider.png" /></a>
								</div>
							</THELIA_transport>
						</div>
			  		</div>
				</div>		  	
			</div>
			#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
