<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
		
		
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
  
			
  	<!-- chemin -->
	
			<div id="chemin">
			<a href="index.php">Accueil boutique</a> / Votre commande	</div>
			
  	        <!-- formulaire -->
	
			<div id="fondContenu2">
			
				<div class="sousTitrePage" style="overflow:hidden; zoom: 1">
				Paiement par chèque </div>
				<div class="ligneFormulaire">
					Nous vous remercions de la confiance que vous accordez à notre structure, <br />
					un email recapitulatif de votre commande vous a été envoyé à l'adresse: #CLIENT_EMAIL.<br />
					Votre commande sera validée par nos services à réception de votre paiement. <br /><br />
					
					Ecrire ici les infos de réglement ... <br /><br />
					
				<THELIA_cmd type="COMMANDE" ref="#COMMANDE_REF">	
					N° DE COMMANDE : #REF <br />
					DATE : #DATE<br />
					TOTAL : #TOTCMDPORT &euro;<br />	
				</THELIA_cmd>
					
				</div>
				
				<div class="ligneFormulaire" style="text-align:right">

				</div>
				<div class="ligneFormulaire" style="height:150px;"> 
				</div>
			
		  </div>
		
		</div>
			  #INCLURE "pied.html"

	</div>
	
</div>
#INCLURE "referer.html"
</body>
</html>
