<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "meta.html"
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">
			Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> /Je choisis un mode de r&egrave;glement : par ch&egrave;que
		</div>
		#INCLURE"menu.html"
		<div id="contenu">
			<div id="etapesDeCommande">
				<ul>
					<li><span>1</span>Panier</li>
					<li><span>2</span>Facturation et livraison</li>
					<li><span>3</span>Je v&eacute;rifie ma commande</li>
					<li class="selection"><span class="chiffreSelection">4</span>Paiement s&eacute;curis&eacute;</li>
				</ul>
			</div>			
			<h2>Je choisis un mode de r&egrave;glement : par ch&egrave;que </h2>
			Nous vous remercions de la confiance que vous nous accordez.<br />
			Un email recapitulatif de votre commande vous a &eacute;t&eacute; envoy&eacute; &agrave; l'adresse: #CLIENT_EMAIL.<br />
			Votre commande sera valid&eacute;e par nos services &agrave; r&eacute;ception de votre paiement.<br /><br />
			Ecrire ici les infos sur le r&eacute;glement par ch&egrave;que ...<br /><br />
			<THELIA_cmd type="COMMANDE" ref="#COMMANDE_REF">	
			<h3>N&deg; DE COMMANDE : #REF</h3>
			<h4>DATE : #DATE</h4>
			<h4>TOTAL : #TOTCMDPORT &euro;</h4>
			</THELIA_cmd>
            <div class="queFaire">
				<a class="bouton" href="index.php"><span><span>Accueil boutique</span></span></a>
			</div>            
            
		</div>
		#INCLURE "pied.html"
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
