<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />

<script type="text/JavaScript">

function valide(){
	if(document.getElementById('condbox').checked) document.getElementById('formulaire').submit();
	else alert("Vous devez accepter les conditions generales de vente");
}

</script>

</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> /	
		R&eacute;capitulatif de ma commande
		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
			
<!-- Titre de la rubrique -->

				<div class="titrePage">
				<h2>R&eacute;capitulatif de ma commande </h2>
				</div>

<!-- Contenu de la page -->
	
			<form action="commande2.php" id="formulaire">
			<input type="hidden" name="action" value="codepromo" />
			<table width="775" border="0" cellspacing="0" cellpadding="5">
            	<tr>
					<td width="405" class="enteteTableau">Produits</td>
                    <td width="110" class="enteteTableau">Prix unitaire </td>
                    <td width="110" class="enteteTableau">Quantit&eacute;</td>
                    <td width="110" class="enteteTableau">Total</td>
				</tr>
			</table>
			<THELIA_panier type="PANIER">
			<table width="775" border="0" cellspacing="0" cellpadding="5">
              	<tr>
					<td width="405" class="ligneTableau">#TITRE - #REF</td>
                    <td width="110" class="ligneTableau">#PRIXU &euro;</td>
                    <td width="110" class="ligneTableau">#QUANTITE</td>
                    <td width="110" class="ligneTableau">#TOTAL &euro;</td>
				</tr>
			</table>
			</THELIA_panier>
			<table width="775" border="0" cellspacing="0" cellpadding="5">
              	<tr>
					<td width="525" class="enteteTableau">&nbsp;</td>
                    <td width="110" class="enteteTableau">Frais de livraison </td>
                    <td width="110" class="enteteTableau">#PANIER_PORT &euro;</td>
				</tr>
			</table>
			<table width="775" border="0" cellspacing="0" cellpadding="5">
              	<tr>
					<td width="525" class="footerTableau">&nbsp;</td>
                    <td width="110" class="footerTableau">Total</td>
                    <td width="110" class="footerTableau">#PANIER_TOTPORT &euro;</td>
				</tr>
			</table>
			<br />
			Saisir votre code de réduction
			<input name="code" type="text" class="zoneDeSaisie"/>
			<br /><br />
			
			<!-- faire le lien vers le contenu des conditions generales de vente -->
			<input type="checkbox" id="condbox" class="zoneDeSaisie" />
            J'ai lu et j'accepte 
			<a href="#">les conditions g&eacute;n&eacute;rales de vente.</a>
			<div class="boutonMonCompteContenu">
			<a href="javascript:valide()">Poursuivre ma commande </a>			</div>
			</form>
			</div>
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>