<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />

	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
			
  	<!-- chemin -->
	
			<div id="chemin">
			<a href="index.php">Accueil boutique</a> / Validation de ma commande </div>
			
  	        <!-- formulaire -->
	
			<div id="fondContenu2">
			 <div class="titrePage" style="overflow:hidden; zoom: 1"> Etape de commande n∞ 5 / Validation de ma commande</div>
		
				<div class="sousTitrePage" style="overflow:hidden; zoom: 1">
				<span class="sousTitreColonne200">
				Produit(s) </span>
				<span class="sousTitreColonne100">
				Prix unitaire</span>
				<span class="sousTitreColonne100">
				QtÈ </span><span class="sousTitreColonne200">
				Total TTC</span>
			  </div>
				
			 <THELIA_panier type="PANIER">
				
			  <div class="lignePanier">
					<span class="TexteColonne200">
				#TITRE  - #REF
		
					</span>
				<span class="TexteColonne100">
				#PRIXU €</span>
				<span class="TexteColonne100">#QUANTITE
				</span>
			<span class="TexteColonne100">
				#TOTAL €</span>
				
			</div>
				
				</THELIA_panier>
				
				<div class="lignePanierTotal">
					<span class="TexteColonne200">Frais de livraison</span>
				<span class="TexteColonne200">#PANIER_PORT €</span>
			<span class="TexteColonne200">
				#PANIER_PORT €</span><span class="TexteColonne100">
				 </span></div>
				<div class="lignePanierTotal">
					<span class="TexteColonne200"> </span>
				<span class="TexteColonne200">Remise</span>
			<span class="TexteColonne200">
				#PANIER_REMISE Ä</span><span class="TexteColonne100">
				 </span></div>
				<div class="lignePanierTotal">
					<span class="TexteColonne200"> </span>
				<span class="TexteColonne200">Total de votre commande</span>
			<span class="TexteColonne200">
				#PANIER_TOTPORT €</span><span class="TexteColonne100">
				 </span></div>
					<div class="ligneFormulaire">
					<span class="TexteColonne200"> 	</span>
				<span class="TexteColonne200"> </span>
			<span class="TexteColonne100">
				<div class="boutonDeBase120" style="overflow: hidden;zoom: 1">
					<dl class="boutonForm120">
					<dt><a href="#URLPAIEMENT">Poursuivre</a></dt>
					</dl>
			</div></span><span class="TexteColonne100">
				 </span></div>
				<div class="ligneFormulaire"></div>
					
				<div class="ligneFormulaire"></div>
				<div class="ligneFormulaire" style=" height:150px;"></div>
				
		  </div>
		  
	  </div>
		
		</div>
			  #INCLURE "pied.html"

	
	
</div>
#INCLURE "referer.html"
</body>
</html>
