<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->

<link href="styles.css" rel="stylesheet" type="text/css" />

<script type="text/JavaScript">
function valide(){
	if(document.getElementById('condbox').checked) document.getElementById('formulaire').submit();
	else alert("Vous devez accepter les conditions generales de vente");
}

</script>

</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / 
		Visualiser mes commandes
		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
			
<!-- Titre de la rubrique -->

				<div class="titrePage">
				<h2>Visualiser mes commandes </h2>
				</div>

			
<!-- Contenu de la page -->

			<table width="785" border="0" cellspacing="0" cellpadding="5">
				<tr>
					<td width="295" class="enteteTableau">N&deg; de la commande </td>
    				<td width="100" class="enteteTableau">Date</td>
    				<td width="100" class="enteteTableau">Montant</td>
   					<td width="100" class="enteteTableau">Statut</td>
   					<td width="140" class="enteteTableau">Voir la commande</td>
  				</tr>
			</table>
			<THELIA_cmd type="COMMANDE" client="#CLIENT_ID">
			<table width="785" border="0" cellspacing="0" cellpadding="5">
  				<tr>
    				<td width="295" class="ligneTableau"><span class="TexteColonne100">#REF</span></td>
    				<td width="100" class="ligneTableau">#DATE</td>
    				<td width="100" class="ligneTableau"><span class="TexteColonne100">#TOTCMDPORT</span></td>
   					<td width="100" class="ligneTableau"><span class="TexteColonne100">#STATUT</span></td>
   					<td width="140" class="ligneTableau"><a href="commande_detail.php?commande=#REF">Voir la commande</a></td>
  				</tr>
			</table>
			</THELIA_cmd>
			</div>
			#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>