<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
		
		
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
  
			
  	<!-- chemin -->
	
			<div id="chemin">
			<a href="index.php">Accueil boutique</a> / Mon compte	:	identifiez-vous	</div>
			
  	        <!-- formulaire -->
	
			<div id="fondContenu2">
		 <form action="compte.php" method="post" name="modifier1" id="modifier1">
             <input type="hidden" name="action" value="modifiercompte" />
				<div class="sousTitrePage" style="overflow:hidden; zoom: 1">
				Je m'identifie
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Mon e-mail
					</div>
					<div class="encadrementZoneDeSaisie">
					<input name="email" type="text" class="zoneDeSaisie" /></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Mon mot de passe
					</div>
					<div class="encadrementZoneDeSaisie">
					<input name="motdepasse" type="password" class="zoneDeSaisie" /></input>
					</div>
					<div class="boutonDeBase120" style="overflow: hidden;zoom: 1">
					<dl class="boutonForm120">
					<dt><a href="javascript:document.getElementById('modifier1').submit()">Valider</a></dt>
					</dl>
					</div>
					
				</div></form>
				
				<div class="sousTitrePage" style="overflow:hidden; zoom: 1">
				Je suis un nouveau client
				</div>
		   <form action="compte_modifier.php" method="post" name="modifier2" id="modifier2">
                          <input type="hidden" name="action" value="modifiercompte" /> 
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Civilit&eacute;
					</div>
					<div class="encadrementZoneDeSaisie">
				<select name="raison" size="1" class="zoneDeSaisie">
                                <option value="">Choisissez ...</option>
                                <option value="1" #CLIENT_RAISON1F>Madame</option>
                                <option value="2" #CLIENT_RAISON2F>Mademoiselle</option>
                                <option value="3" #CLIENT_RAISON3F>Monsieur</option>
              </select>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Nom
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="nom"   value="#CLIENT_NOM" class="zoneDeSaisie" /></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Pr&eacute;nom
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="prenom"   value="#CLIENT_PRENOM" class="zoneDeSaisie" /></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Adresse
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="adresse1" class="zoneDeSaisie"  value="#CLIENT_ADRESSE1" /></input>
					</div>
				</div>

				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Adresse (suite)
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="adresse2" class="zoneDeSaisie"  value="#CLIENT_ADRESSE2"/></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Compl&eacute;ment d'adresse
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="adresse3" class="zoneDeSaisie"  value="#CLIENT_ADRESSE3"/></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Code postal
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="cpostal" class="zoneDeSaisie"   value="#CLIENT_CPOSTAL"/></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Ville
					</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="ville" class="zoneDeSaisie"   value="#CLIENT_VILLE"/></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Pays
					</div>
					<div class="encadrementZoneDeSaisie">
						<select name="pays" size="1" class="zoneDeSaisie">
				<option value="" selected="selected">Choisissez ...</option>
				<THELIA_pays type="PAYS"  id="64" >           
                    <option value="#ID"  #SELECTED>#TITRE</option>
                </THELIA_pays>
              </select>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					T&eacute;l&eacute;phone fixe </div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="telfixe"   value="#CLIENT_TELFIXE"  class="zoneDeSaisie" /></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					T&eacute;l&eacute;phone portable </div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="telport" class="zoneDeSaisie"   value="#CLIENT_TELPORT"/></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					E-mail</div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="email1" class="zoneDeSaisie"  value="#CLIENT_EMAIL"/></input>
					</div>
				</div>
				
				<div class="ligneFormulaire">
					<div class="titreChampForm">
					Coofirmation de votre email </div>
					<div class="encadrementZoneDeSaisie">
					<input type="text" name="email2" class="zoneDeSaisie"  value="#CLIENT_EMAIL"/></input>
					</div>
					<div class="boutonDeBase10" style="overflow: hidden;zoom: 1">
					<dl class="boutonForm120">
					<dt><a href="javascript:document.getElementById('modifier2').submit()">Valider</a></dt>
					</dl>
					</div>
				</div>
				
				</form>
		  </div>
		
		</div>
			  #INCLURE "pied.html"

	</div>
	
</div>
#INCLURE "referer.html"
</body>
</html>
