<div id="monCompte" style="overflow: hidden;zoom: 1">
	    <h2><span>Mon compte</span></h2>
			<div id="contenuMonCompte" style="overflow: hidden;zoom: 1">
				<THELIA SI NON CONNECTE>
					<form action="#URLCOURANTE" method="post" id="connex" >
					<input type="hidden" name="action" value="connexion" />
			  <div class="titreMonCompte" style="overflow: hidden;zoom: 1">
				E-mail
			  </div>
				<div class="formMonCompte" style="overflow: hidden;zoom: 1">
				<input name="email" type="text" class="champFormMonCompte" size="13" />
				</div>
				<div class="titreMonCompte" style="overflow: hidden;zoom: 1">
				Mot de passe
				</div>
				<div class="formMonCompte" style="overflow: hidden;zoom: 1">
				<input name="motdepasse" type="password" class="champFormMonCompte" size="13" />
				</div>
				<div class="boutonDeBase120" style="overflow: hidden;zoom: 1">
				<dl class="boutonForm120">
				<dt><a href="javascript:document.getElementById('connex').submit()">Valider</a></dt>
				</dl>
				</div>			
				<div class="menuMonCompte" style="overflow: hidden;zoom: 1">
				<a href="mdpoublie.php">Mot de passe perdu ?</a> | <a href="creercompte.php">Vous n’avez pas encore de compte? </a></div>
		  
		  		</form>
				</THELIA SI NON CONNECTE>
				
				<THELIA SI CONNECTE>
				 <div class="menuMonCompte" style="overflow: hidden;zoom: 1">
				<a href="#">Bonjour #CLIENT_PRENOM -</a>
			  
			 <a href="moncompte.php" onmouseover="flashProxy.call('affiche', 'Acceder a vos informations personnelles <u>#CLIENT_PRENOM</u>');" onmouseout="flashProxy.call('cacher')">Mon compte</a> - 
						<a href="#URLDECONNEXION" onmouseover="flashProxy.call('affiche', 'Au revoir !');" onmouseout="flashProxy.call('cacher')">Déconnexion</a></div>
				</THELIA SI CONNECTE>
				</div>
		</div>
		<div id="monPanier" style="overflow: hidden;zoom: 1">
		<h2><span>Mes achats</span></h2>
		
		<T_PANIER>
							
			<div id="contenuMonPanier" style="overflow: hidden;zoom: 1">
			  <a href="#URLPANIER" class="lienMonPanier">contient #PANIER_NBART article(s).</a></div>
			  
			 <THELIA_PANIER type="PANIER">
			 
						</THELIA_PANIER>
						
		  </T_PANIER>
						<div id="contenuMonPanier" style="overflow: hidden;zoom: 1">
			  <a href="#URLPANIER" class="lienMonPanier">Votre panier <br />
		  est vide ! </a></div>
					<//T_PANIER>
		</div>