<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
		
		
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
  
		<THELIA_CONTENU type="CONTENU"  id="#CONTENU_ID" >	
  	<!-- chemin -->
	
			<div id="chemin">
			<a href="#URLSOMMAIRE">Accueil boutique</a> / #TITRE</div>
			
  	        <!-- formulaire -->
	
			<div id="fondContenu2">
			
				<div class="sousTitrePage" style="overflow:hidden; zoom: 1">#TITRE</div>
				<div class="ligneFormulaire">#DESCRIPTION</div>
				
			
				<div class="ligneFormulaire" style="height:150px"></div>
			
				
		  </div>
		  </THELIA_CONTENU>
	
			
		</div>
		
	<!-- pied de page -->
		  #INCLURE "pied.html"

	</div>
	
</div>
#INCLURE "referer.html"
</body>
</html>
