<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "meta.html"

	<link href="styles.css" rel="stylesheet" type="text/css" />
	
	<script language="javascript">
		function valide(){
			if(document.forms['formcontact'].nom.value && document.forms['formcontact'].email.value && document.forms['formcontact'].service.value && document.forms['formcontact'].categorie.value && document.forms['formcontact'].subject.value && document.forms['formcontact'].message.value)
			{
				document.forms['formcontact'].submit();
			}else{
			 	alert(unescape("Veillez compléter les champs obligatoires"));
			}	
		}
	</script>
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">

		#INCLURE "entete.html"

<!-- chemin -->	

		<div id="chemin">
			Vous &ecirc;tes ici :
			<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / 
			Contactez-nous
		</div>
		
<!-- contenu -->
		<div id="content">
			
			#INCLURE"menu.html"
			
			<div id="contenu">
				<div id="ombremenu"><img src="_gfx/ombrecontenugauche.png" /></div>
							
<!-- Contenu de la page-->
				<div id="contenu_texte" style="margin-top:10px;">
					Nom de l'entreprise <br />
					Adresse de l'entreprise<br /> 
					CP VILLE <br /> 
					FRANCE <br /> 
					<br /> 
					Tél. : +33 (0)0 00 00 00 00<br /> 
					Fax : +33 (0)0 00 00 00 00<br /> 
					E.mail : contact@entreprise.fr<br /> 
					<p>&nbsp;</p>
					<p> Vos suggestions nous intéressent, contactez-nous en complétant le formulaire ci-dessous: </p>

	  				<form action="contact_mail.php" method="post" name="formcontact" id="formcontact">
            
						<table width="775" border="0" cellspacing="0" cellpadding="5">
							<tr>
								<td width="190" class="ligneTableau">Nom*</td>
								<td width="565" class="ligneTableau"><input name="nom" type="text" class="zoneDeSaisie"/></td>
							</tr>
							<tr>
				  				<td class="ligneTableau">E-mail*</td>
								<td class="ligneTableau"><input name="email" type="text" class="zoneDeSaisie"/></td>
				  			</tr>
				            <tr>
								<td class="ligneTableau">Sujet : *</td>
								<td class="ligneTableau"><input name="subject" type="text" class="zoneDeSaisie"></td>
				  			</tr>
				   			<tr>
								<td class="ligneTableau" style="vertical-align:top">Message  : *</td>
								<td class="ligneTableau">
									<textarea name="message" cols="40" rows="12" class="zoneDeSaisie"></textarea>
								</td>
				 			</tr>
						</table>
						<span class="commentaires" >* Champs Obligatoires</span>
						<div class="boutonMonCompteContenu">
           					<a href="#" onclick="valide()"> <input type="submit" /></a>
						</div>
            		</form>
	 			</div>
	  		</div>
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
