<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

	<link href="styles.css" rel="stylesheet" type="text/css" />	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
		#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
			Vous &ecirc;tes ici :
			<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / Cr&eacute;ation de mon compte
		</div>
			
<!-- contenu -->
	
		<div id="content">
		
			#INCLURE"menu.html"
		
			<div id="contenu">
				<div id="ombremenu"><img src="_gfx/ombrecontenugauche.png" /></div>
			
<!-- Titre de la page -->
				<div id="contenu_texte">
					<div class="titrePage">
						<h2>Cr&eacute;ation de mon compte </h2>
					</div>

<!-- Contenu de la page -->

					<div class="sousTitrePage">
						<h3>Je cr&eacute;&eacute; mon compte  pour pouvoir commander sur ce site Internet : </h3>
					</div>

					<form action="nouveau.php" method="post" name="nouveau" id="nouveau">
						<input type="hidden" name="action" value="creercompte" />
						<p>
    						<label for="civilite">Civilit&eacute;*</label>
							<select name="raison" size="1"  class="zoneDeSaisie">
    							<option value="" selected="selected">Choisissez ...</option>
   								<option value="1" selected="selected">Madame</option>
   								<option value="2">Mademoiselle</option>
    							<option value="3">Monsieur</option>
    						</select>
						</p>
						<p>
    						<label for="nom">Nom*</label>
    						<input type="text" name="nom"/>
						</p>
						<p>
							<label for="prenom">Pr&eacute;nom*</label>
							<input type="text" name="prenom"/>
						</p>
						<p>
							<label for="adresse1">Adresse*</label>
							<input type="text" name="adresse1"/>
						</p>
						<p>
							<label for="adresse2">Compl&eacute;ment d'adresse</label>
							<input type="text" name="adresse2"/>
						</p>
						<p>
							<label for="cpostal">Code postal*</label>
							<input type="text" name="cpostal"/>
						</p>
						<p>
							<label for="ville">Ville*</label>
							<input type="text" name="ville"/>
						</p>
						<p>
							<label for="pays">Pays*</label>
							<select name="pays" size="1"  class="zoneDeSaisie">
								<option value="">Choisissez ...</option>
								<THELIA_pays type="PAYS" zdefinie="1">           
									<option value="#ID" #DEFAULT>#TITRE</option>
								</THELIA_pays>
    						</select>
						</p>
						<p>
    						<label for="telfixe">T&eacute;l&eacute;phone * </label>
    						<input type="text" name="telfixe"/>
						</p>
						<p>
    						<label for="email1">Email*</label>
    						<input type="text" name="email1"/>
						</p>
						<p>
    						<label for="email2">Confirmation de votre email*</label>
    						<input type="text" name="email2"/>
						</p>
						<p>
    						<label for="motdepasse1">Mot de passe* (6 caract&egrave;res minimum ) </label>
    						<input name="motdepasse1" type="password"/>
						</p>
						<p>
    						<label for="motdepasse2">Confirmation de votre mot de passe*</label>
    						<input name="motdepasse2" type="password"/>
  						</p>
						<span class="obligatoire">* Champs obligatoires</span>
						<div class="boutonMonCompteContenu" >
							<input type="submit" value="Valider" />
						</div>
					</form>
				</div>
			</div>
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
