<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
	
		
		
<!-- chemin -->	
		<THELIA_DOSSIER type="DOSSIER"  id="#DOSSIER_ID">
            <div id="chemin">
            Vous &ecirc;tes ici :
            <a href="index.php" class="LIEN_chemin">Accueil boutique</a> / 
    
            #TITRE
            </div>
		
<!-- contenu -->
	
		<div id="content">
		
			#INCLURE"menu.html"
		
			<div id="contenu">
				<THELIA_CONTENU type="CONTENU"  dossier="#ID">
<!-- Titre de la rubrique -->

                        <div class="titrePage">
                        <h2>#TITRE</h2>
                        </div>

<!-- Contenu de la page -->
	
                         #DESCRIPTION			
				
		  		</THELIA_CONTENU>
			
			</div>
          </THELIA_DOSSIER>
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
