<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / 
		Identifiez-vous  : des erreurs dans votre saisie !
		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
			
<!-- Titre de la page -->

				<div class="titrePage">
				<h2>Identifiez-vous : des erreurs dans votre saisie !</h2>
				</div>
				
<!-- Sous-titre de la page -->

				<div class="sousTitrePage">
				<h3>Relisez les informations que vous souhaitez  nous transmettre. Vous avez sans doute fait une erreur.  </h3>
				</div>
				
<!-- Contenu de la page -->
						  
			<form action="nouveau.php" method="post" name="nouveau" id="nouveau">
            <input type="hidden" name="action" value="creercompte" />
				<table width="775" border="0" cellspacing="0" cellpadding="5">
  					<tr>
    					<td width="190" class="ligneTableau">Civilit&eacute; #RAISON[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td width="565" class="ligneTableau">
						<select name="raison" size="1"  class="zoneDeSaisie">
						<option value="" selected="selected">Choisissez ...</option>
						<option value="1" #RAISON1>Madame</option>
						<option value="2" #RAISON2>Mademoiselle</option>
						<option value="3" #RAISON3>Monsieur</option>
						</select>
						</td>
					</tr>
					<tr>
    					<td class="ligneTableau">Nom #NOM[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td class="ligneTableau"><input type="text" name="nom" value="#NOM" class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Pr&eacute;nom #PRENOM[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td class="ligneTableau"><input type="text" name="prenom" value="#PRENOM" class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Adresse #ADRESSE1[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td class="ligneTableau"><input type="text" name="adresse1" value="#ADRESSE1"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Adresse (suite) </td>
    					<td class="ligneTableau"><input type="text" name="adresse2" value="#ADRESSE2"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Compl&eacute;ment d'adresse</td>
    					<td class="ligneTableau"><input type="text" name="adresse3" value="#ADRESSE3"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Code postal #CPOSTAL[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td class="ligneTableau"><input type="text" name="cpostal" value="#CPOSTAL"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Ville #VILLE[<span class="obligatoire">(obligatoire)</span>] </td>
    					<td class="ligneTableau"><input type="text" name="ville" value="#VILLE"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Pays #PAYS[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td class="ligneTableau">
						<select name="pays" size="1"  class="zoneDeSaisie">
						<option value="" selected="selected">Choisissez ...</option>
						<THELIA_pays type="PAYS" zdefinie="1">             
						<option value="#ID"  #SELECTED>#TITRE</option>
    					</THELIA_pays>
    					</select>
						</td>
 					</tr>
  					<tr>
    					<td class="ligneTableau">Téléphone fixe #TELFIXE[<span class="obligatoire">(obligatoire)</span>]</td>
    					<td class="ligneTableau"><input type="text" name="telfixe" value="#TELFIXE"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">Téléphone portable</td>
    					<td class="ligneTableau"><input type="text" name="telport" value="#TELPORT"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
    					<td class="ligneTableau">E-mail#EMAIL[<span class="obligatoire">(V&eacute;rifiez votre E-Mail)</span>]#EXISTE[<span class="obligatoire">(Ce compte existe déjà)</span>]</td>
    					<td class="ligneTableau"><input type="text" value="#EMAIL" name="email1"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
						<td class="ligneTableau">Confirmation de votre email</td>
    					<td class="ligneTableau"><input type="text"  value="#EMAIL" name="email2"  class="zoneDeSaisie"/></td>
  					</tr>
  					<tr>
   						 <td class="ligneTableau">Mot de passe #MOTDEPASSE[<span class="obligatoire">(V&eacute;rifiez votre mot de passe. 6 caract&egrave;res  minimum)</span>] </td>
    					<td class="ligneTableau"><input  name="motdepasse1" type="password"  class="zoneDeSaisie"/></td>
  					</tr>
					<tr>
    					<td class="ligneTableau">Confirmation de votre mot de passe</td>
    					<td class="ligneTableau"><input name="motdepasse2" type="password"  class="zoneDeSaisie"/></td>
  					</tr>
				</table>
					<div class="boutonMonCompteContenu">
					<input type="submit" value="Valider" />
					</div>
			</form>
			</div>
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
