<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">
			Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> / Mon compte : Modifier une adresse de livraison
		</div>
		#INCLURE"menu.html"
		<div id="contenu">
			<h2>Mon compte : Modifier une adresse de livraison </h2>			
			<form action="livraison_modifier.php" method="post" name="modifier" id="modifier">
			<input type="hidden" name="action" value="modifierlivraison" />
			<THELIA_adr type="ADRESSE" adresse="#ADRESSE_ID" client="#CLIENT_ID">
			<input name="id" type="hidden" value="#ID" />
			<input name="adresse" type="hidden" value="#ID" />
			<p>
    			<label for="raison">Libell&eacute; de l'adresse*</label>
    			<input name="libelle" type="text" value="#LIBELLE"/>
			</p>
			<p>
    			<label for="raison">Civilit&eacute;*</label>
				<select name="raison" size="1">
				<option value="1" #RAISON1F>Madame</option>
				<option value="2" #RAISON2F>Mademoiselle</option>
				<option value="3" #RAISON3F>Monsieur</option>
				</select>
  			</p>
  			<p>
  				<label for="nom">Nom*</label>
  				<input type="text" name="nom" value="#NOM"/>
			</p>
			<p>
				<label for="prenom">Pr&eacute;nom*</label>
  				<input type="text" name="prenom" value="#PRENOM"/>
			</p>
  			<p>
				<label for="adresse1">Adresse*</label>
				<input type="text" name="adresse1" value="#ADRESSE1"/>
			</p>
  			<p>
				<label for="adresse2">Compl&eacute;ment d'adresse  </label>
  				<input type="text" name="adresse2" value="#ADRESSE2"/>
			</p>
  			<p>
  				<label for="cpostal">Code postal* </label>
  				<input type="text" name="cpostal" value="#CPOSTAL" />
			</p>
			<p>
				<label for="ville">Ville*</label>
				<input type="text" name="ville" value="#VILLE"/>
			</p>
			<p>
				<label for="pays">Pays*</label>
				<select name="pays" size="1">
			  	<THELIA_pays type="PAYS" zdefinie="1" >
				<option value="#ID" #SELECTED>#TITRE</option>
				</THELIA_pays>
				</select>	
			</p>
			<p>
				<label for="tel">T&eacute;l&eacute;phone*</label>
				<input type="text" name="tel" value="#TEL"/>
			</p>
            <p class="derniereLigne"><button type="submit" class="bouton"><span><span><span>Valider</span></span></span></button></p>
			
			</THELIA_adr>
			</form>		
		</div>
		#INCLURE "pied.html"
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
