<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> /	
		Mon compte : mes adresses de livraison
		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
				<img src="_gfx/ombrecontenugauche.png" style="float:left;"/>
			
<!-- Titre de la rubrique -->

				<div class="titrePage">
				<h2>Mon compte : mes adresses de livraison </h2>
				</div>

<!-- Contenu de la page -->

				<div class="sousTitrePage">
				<h3>Mes adresses de livraison</h3>
				</div>
	
			<THELIA_adr type="ADRESSE" client="#CLIENT_ID">
			
				<div class="textePage">
				#LIBELLE
				</div>
				
			<a href="livraison_modifier.php?adresse=#ID">Modifier cette adresse<br />
			</a><a href="#SUPPRURL">Supprimer cette adresse </a>
			</THELIA_adr>
				
				<div class="separation">
				</div>

				<div class="sousTitrePage">
				<h3>Ajouter une nouvelle adresse de livraison</h3>
				</div>
				
			<form action="adresse.php" method="post" name="nouveau" id="nouveau">
            <input type="hidden" name="action" value="creerlivraison" />
			  <p>
    				<label for="libelle">Lib&eacute;ll&eacute; de l'adresse* </label>
    				<input name="libelle" type="text" />
  				</p>
				<p>
   					<label for="raison">Civilit&eacute;*</label>
					<select name="raison" size="1"  >
                	<option value="" selected="selected">Choisissez ...</option>
                	<option value="1">Madame</option>
               		<option value="2">Mademoiselle</option>
               		<option value="3">Monsieur</option>
               		</select>
				</p>
				<p>
					<label for="nom">Nom*</label>
					<input type="text" name="nom" />			
				</p>
  				<p>
  				  	<label for="prenom">Pr&eacute;nom*</label>
  				  	<input type="text" name="prenom" />		
  				 	  	</p>
  				<p>
  				  	<label for="adresse1">Adresse*</label>
  				  	<input type="text" name="adresse1" />	
  				  			  	</p>
  				<p>
  				  	<label for="adresse2">Compl&eacute;ment d'adresse </label>
  				  	<input type="text" name="adresse2" />		
  				  		  	</p>
    				<p>
  				  	<label for="cpostal">Code postal*</label>
  				  	<input type="text" name="cpostal" />			  	</p>
  				<p>
  				  	<label for="ville">Ville*</label>
  				  	<input type="text" name="ville" />			  	</p>
  				<p>
  				  	<label for="pays">Pays*</label>
  				 	<select name="pays" size="1"   >
				  	<option value="" selected="selected">Choisissez ...</option>
				  	<THELIA_pays type="PAYS" zdefinie="1">           
				  	<option value="#ID">#TITRE</option>
				  	</THELIA_pays>
				  	</select>
				  				  	</p>
				<p>
  				  	<label for="tel">T&eacute;l&eacute;phone * </label>
  				  	<input type="text" name="tel" />			  	</p>
			
			 	<div class="boutonMonCompteContenu">
				<input type="submit" value="Valider" />
				</div>
			</form>
			</div>
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
