<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
	
</head>
<body>
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> / Mot de passe perdu ou oubli&eacute;</div>
		#INCLURE"menu.html"
		<div id="contenu">
			<h2>Mon compte : Mot de passe perdu ou oubli&eacute; </h2>
			<h4>Inscrivez votre email pour recevoir votre mot de passe</h4>
			<form action="mdpoublieok.php" method="post" name="formmdp" id="formmdp">
			<input type="hidden" name="action" value="chmdp" />
            <p class="derniereLigne">
            <label class="petit">Votre e-mail <span class="obligatoire">Mail Inexistant</span></label>
            <input name="email" type="text"/>
            <button type="submit" class="boutonMemeLigneQuInput"><span><span>Valider</span></span></button>
            </p>
            </form>
		</div>
		#INCLURE"pied.html"
		#INCLURE"signature.html"
	</div>
</div>
</body>
</html>




