<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> / Mot de passe perdu ou oubli&eacute;</div>
		#INCLURE"menu.html"
		<div id="contenu">
			<h2>Mon compte : Mot de passe perdu ou oubli&eacute; </h2>
			Votre demande a été prise en compte. Vous allez recevoir par mail votre nouveau mot de passe.<br />
			Merci de votre compréhension.
		</div>
		#INCLURE"pied.html"
	</div>
	#INCLURE"signature.html"
</div>
</body>
</html>

