<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / 
		Mot de passe perdu ou oubli&eacute;
		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
			
<!-- Titre de la rubrique -->

				<div class="titrePage">
				<h2>Mon compte : mot de passe perdu ou oubli&eacute; </h2>
				</div>

			
<!-- Contenu de la page -->

				<div class="sousTitrePage">
				<h3>Inscrivez votre email pour recevoir votre mot de passe</h3>
				</div>
				
			<form action="mdpoublie.php" method="post" name="formmdp" id="formmdp">
			<input type="hidden" name="action" value="chmdp" />
			<table width="785" border="0" cellspacing="0" cellpadding="5">
  				<tr>
   					<td width="200" class="ligneTableau">Votre email</td>
   					<td width="565" class="ligneTableau"><input name="email" type="text" class="zoneDeSaisie"/></td>
  				</tr>
			</table>
				<div class="boutonMonCompteContenu">
				<a href="javascript:document.getElementById('formmdp').submit()">Valider</a>
				</div>
			</form>
			</div>
		</div>
		#INCLURE"pied.html"
	</div>
	#INCLURE"signature.html"
</div>
</body>
</html>

