	<!-- navigation verticale -->
			<div id="toutLeMenu">
				<dl id="menu">
					<THELIA_COLLECTIONS type="RUBRIQUE" parent="0" profondeur="1" boutique="1" classement="manuel">
					<dt><a href="#URL">#TITRE</a></dt>
					
					<dd id="smenu1">
						<ul>
						<THELIA_RUB2 type="RUBRIQUE" parent="#ID">
						<THELIA_srub type="RUBRIQUE" id="#ID" courante="0">
							<li><a href="#URL">#TITRE</a></li>
						</THELIA_srub>	
						<THELIA_srubselect type="RUBRIQUE" id="#ID" courante="1">
							<li><a href="#URL" class="selected">#TITRE</a></li>
						</THELIA_srubselect>
						</THELIA_RUB2>
						</ul>
					</dd>
					</THELIA_COLLECTIONS>
					
					<THELIA_contenu type="CONTENU" dossier="1" classement="manuel">
					<dt><a href="#URL">#TITRE</a></dt>
					</THELIA_contenu>
					
				</dl>
			</div>
