<html>
<head>
	<link href='js/style.css' type='text/css' rel='stylesheet'/>
	<script src='js/jquery.js' type='text/javascript'></script>
	<script src='js/menu.js' type='text/javascript'></script>
</head>


<body>

	<ul id="contenuPanier">
		<li>
			Mes achats
			<ul class="listeProduits">
				<li><a href="#">Sous element 1</a></li>
				<li><a href="#">Sous element 2</a></li>
				<li><a href="#">Sous element 3</a></li>
				<li><a href="#">Sous element 4</a></li>
				<li><a href="#">Sous element 5</a></li>
				<li><a href="#">Sous element 6</a></li>
				<li><a href="#">Sous element 7</a></li>
				<li><a href="#">Sous element 8</a></li>
				<li><a href="#">Sous element 9</a></li>
			</ul>
		</li>
	</ul>

</body>


</html>
