<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> / Merci</div>
		#INCLURE"menu.html"
		<div id="contenu">
			<h2>Merci</h2>
			<p>Notre boutique vous remercie pour votre achat.</p>
          	<p>Bonne navigation et à bientôt.</p>
			<div class="queFaire">
				<a class="bouton" href="index.php""><span><span><span>Retour en page d'accueil</span></span></span></a>
			</div>
		</div>
		#INCLURE "pied.html"
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
