<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
	
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / Merci

		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
				<img src="_gfx/ombrecontenugauche.png" style="float:left;"/>
			
<!-- Titre de la rubrique -->
				
				<div class="titrePage">
				<img src="_gfx/etape1off.png" style="margin-left:100px;"/> <img src="_gfx/sepetape.png" /> <img src="_gfx/etape2off.png"  /> <img src="_gfx/sepetape.png" /> <img src="_gfx/etape3off.png" /> <img src="_gfx/sepetape.png" /> <img src="_gfx/etape4on.png" />
				</div>

				<div id="contenu_texte" style="text-align:center;width:750px;">
				<div class="titrePage" style="text-align:center;">
				<h2>Merci</h2>
				</div>

<!-- Contenu de la page -->
	  <p class="commentaires">Notre boutique vous remercie de votre achat</p>
          <p class="commentaires">Bonne navigation et à bientôt</p>
			</div>
			<div class="boutonMonCompteContenu" style="width:725px;">
				<a href="index.php"><img src="_gfx/precedent.png" /></a>

			</div>
			</div>
			
		#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
