<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
		
		
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
  
			
  	<!-- chemin -->
	
			<div id="chemin">
			<a href="index.php">Accueil boutique</a> / Mon compte	:	identifiez-vous	</div>
			
  	        <!-- formulaire -->
	
			<div id="fondContenu2">
			
				<div class="sousTitrePage" style="overflow:hidden; zoom: 1">
				Nouveau client </div>
				<div class="ligneFormulaire">Bienvenue sur votre espace privé de la boutique Thelia</div>
				
				<div class="ligneFormulaire" style="text-align:right">
				
					<div class="boutonDeBase180" style="overflow: hidden;zoom: 1">
					
					<dl class="boutonForm180">
					<dt><a href="#URLPAGERET">Poursuivre votre shopping</a></dt>
					</dl>
					</div>
					
				</div>
				<div class="ligneFormulaire" style="height:150px;"> 
				</div>
			
		  </div>
		
		</div>
			  #INCLURE "pied.html"

	</div>
	
</div>
#INCLURE "referer.html"
</body>
</html>
