<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
	
</head>
<body>
	
<div id="wrapper">
	<div id="subwrapper">
	#INCLURE "entete.html"
		<div id="chemin">Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> / Cr&eacute;ation de mon compte</div>
		#INCLURE"menu.html"	
		<div id="contenu">
			<h2>F&eacute;licitations, vous venez de terminer la cr&eacute;ation de votre compte ! </h2>
            <div class="queFaire">
				<a class="bouton" href="#URLPAGERET"><span><span><span>Retour &agrave; la page pr&eacute;c&eacute;dente</span></span></span></a>
            </div>
		</div>
		#INCLURE "pied.html"
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
