<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
		
		
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
  
			
  	<!-- chemin -->
	
			<div id="chemin">
			<a href="index.php">Accueil boutique</a> / Choix de mon mode de paiement</div>
			
  	        <!-- formulaire -->
	
			<div id="fondContenu2">
			
				<div class="titrePage" style="overflow:hidden; zoom: 1">
				Etape de commande n° 6 / Choix de votre mode de paiement
				</div>
				<div class="ligneFormulaire">Choisissez votre mode de paiement
				</div>
				 <THELIA_PAIEMENT type="PAIEMENT">
				 <div class="lignePanier" style=" height:100px">
					<span class="TexteColonne300">
					#TITRE - #CHAPO <br /><img src="#LOGO" border="0" /></span>
					<span class="TexteColonne300">
					<div class="boutonDeBase250" style="overflow: hidden;zoom: 1">
					<dl class="boutonForm250">
					<dt><a href="#URLPAYER">Finaliser la commande</a></dt>
					</dl>
					</div>
					</span>
					</div>
				 </THELIA_PAIEMENT>
				<div class="ligneFormulaire" style="height:150px;">&nbsp;
				</div>
			
		  </div>
		
		</div>
			  #INCLURE "pied.html"

	</div>
	
</div>
#INCLURE "referer.html"
</body>
</html>
