<!-- Pied de page -->

    <div id="footer">
    	
        <ul>
    		<THELIA_DOSSIER type="DOSSIER" classement="manuel" parent="0">
    		<li><a href="#URL">#TITRE</a>
    			<ul>
    				<THELIA_SSDOSSIER type="DOSSIER" classement="manuel" parent="#ID">	
    				<li><a href="#URL">#TITRE</a></li>
    				</THELIA_SSDOSSIER>
    			</ul>
    		</li>
    		</THELIA_DOSSIER>	
    		<li><a href="rss.php?ref=#PRODUIT_REF&id_rubrique=#RUBRIQUE_ID">Fil d'information</a></li>
    		<li><a href="contact.php">Contact</a></li>
    	</ul>
    
    	<ul>
    		<THELIA_MENU_RUBRIQUES type="RUBRIQUE" parent="0" classement="manuel">
    		<li><a href="#URL">#TITRE</a>
    			<T_BLOC_SOUS_MENU>
    			<ul>
    				<THELIA_BLOC_SOUS_MENU type="RUBRIQUE" parent="#ID">
    				<li><a href="#URL">#TITRE</a></li>
    				</THELIA_BLOC_SOUS_MENU>
    			</ul>
    			</T_BLOC_SOUS_MENU>
				<//T_BLOC_SOUS_MENU>
    		</li>
    		</THELIA_MENU_RUBRIQUES>
    	</ul>
        
    	<ul>
    		<li><a href="http://www.scopika.com" target="_blank">Charte graphique : Scopika </a></li>
    		<li><a href="http://www.octolys.fr" target="_blank">Int&eacute;gration technique : Octolys </a></li>
    		<li><a href="http://www.thelia.fr" target="_blank">Propuls&eacute; par  Thelia </a></li>
    	</ul>    
	</div>