<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "meta.html"

	<link href="styles.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="lightbox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="lib/jquery/jquery.js"></script>
	<script type="text/javascript" src="lib/jquery/jquery.lightbox.js"></script>

	<script>
		$(document).ready(function(){
			$(".lightbox").lightbox();
		});
	</script>	
</head>
<body>

<!-- wrapper & subwrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
	
		#INCLURE "entete.html"
		
<!-- chemin -->	
	 
		<div id="chemin">
			Vous &ecirc;tes ici :
			<a href="index.php" class="LIEN_chemin">Accueil boutique</a> / 
			<THELIA_chemrub type="CHEMIN" rubrique="#RUBRIQUE_ID">
		
				<THELIA_rubdetchem type="RUBRIQUE" id="#ID">
					<a href="#URL" class="LIEN_chemin">#TITRE</a> /
				</THELIA_rubdetchem>
			</THELIA_chemrub> 

			<THELIA_rubcour type="RUBRIQUE" id="#RUBRIQUE_ID">
				<a href="#URL" class="LIEN_chemin">#TITRE</a> /
			</THELIA_rubcour>
		
			#PRODUIT_NOM 

		</div>
					
<!-- contenu -->
	
		<div id="content">
		
			#INCLURE"menu.html"
		
			<div id="contenu">
				<div id="ombremenu"><img src="_gfx/ombrecontenugauche.png" /></div>	
											
<!-- Détail du produit -->
				<div id="contenu_texte" style="background-color:#EDF0F7;height:415px;background-image:none;margin:10px;width:730px;">
					<THELIA_PROD type="PRODUIT" ref="#PRODUIT_REF"> 
						<div class="imagesProduit">
							<div class="imgProdPrincipal" style="height:300px;width:300px;">
								<THELIA_img type="IMAGE" num="1" produit="#ID" largeur="290">
									<a href="#IMAGE" class="lightbox" title="#PRODTITRE" >
										<div class="contourImageProd" >
											<img src="#IMAGE"  alt="#PRODTITRE" title="#PRODTITRE" border="0"  style="width:250;height:250px;" id="photozoom"  />
										</div>
									</a>
								</THELIA_img>
							</div>
							<div class="blocVignettes">
								<T_vignette1>
	         						<THELIA_vignette1 type="IMAGE" produit="#ID" debut="2" hauteur="80">
								</THELIA_vignette1>
									<br />
									<THELIA_vignette2 type="IMAGE" produit="#ID" hauteur="80">
		            					<div class="vignette">
		            						<a href="#" onmouseover="document.getElementById('photozoom').src='fonctions/redimlive.php?nomorig=../#FICHIER&height=350&width=350'"> 
												<img src="#IMAGE"  alt="#TITRE" title="#TITRE" border="0" align="middle"  />
											</a>
										</div>
									</THELIA_vignette2>
								</T_vignette1>
								<//T_vignette1>
							</div>
						</div>
						<div class="ficheProduit">
							<br />
							<div class="titrePage">
								<h2>#TITRE</h2>
							</div>
							<br />
					 		<div class="chapoProduit">
								#CHAPO
							</div>
					 		<div class="descriptionProduit" style="height:70px">
								#DESCRIPTION
							</div>
							<div class="descriptionProduit" style="height:40px">
								Stock disponible : #STOCK
							</div>
					 		<div class="prixProduit" style="height:40px">
								<T_PROMO>
									<THELIA_PROMO type="PRODUIT" id="#ID" promo="1">
								    	<strong>#PRIX2 &euro;</strong><br />au lieu de #PRIX &euro;
								    </THELIA_PROMO>
								</T_PROMO>
								   <strong>#PRIX &euro;</strong>
								<//T_PROMO>
							</div>
							<br />
							<a href="rubrique.php?id_rubrique=#RUBRIQUE_ID&page=#PAGE_PREC" class="LIEN_pages">
								<img src="_gfx/precedent.png" alt="page pr&eacute;c&eacute;dente" title="page pr&eacute;c&eacute;dente" style="vertical-align:top;margin-top:3px;" />
							</a>
							&nbsp;
							<THELIA_stock type="PRODUIT" ref="#REF" stockmini="1">
					 			<a href="#PANIER" class="LIEN_commander">
									<img src="_gfx/aupanier.png" style="vertical-align:top;margin-top:3px;" alt="mettre au panier" title="mettre au panier" />
								</a>
							</THELIA_stock>
							&nbsp;
							&nbsp;
							<THELIA_DOCUMENT type="DOCUMENT" produit="#PRODUIT_ID">
								<a href="#FICHIER"><img src="_gfx/logopdf.png" /></a>
							</THELIA_DOCUMENT>
						</div>
					</THELIA_PROD>
				</div>
<!-- Boucle conditionnelle si le produit possède des produits associés -->					
				<div id="contenu_texte" >	
					<T_ACC>
						<div id="contenu_texte" style="margin-left:30px;float:left;width:310px;">
							<div class="titrePage">
								<h2>Les accessoires </h2>
							</div>
							<br />
							<THELIA_PRODUITSACC type="ACCESSOIRE" aleatoire="1"  produit="#PRODUIT_ID" num="3" largeur="90">
								<div class="produitPetit" style="width:95px;height:99px;margin: 0 2px 0 2px;">
									<a href="produit.php?ref=#PRODREF">
										<THELIA_IMAGE type="IMAGE" num="1" produit="#ID"  largeur="90">
	 										<img src="#IMAGE"  alt="#PRODTITRE  " title="#PRODUIT_ID" border="0" class="contourImageMozaique" />
										</THELIA_IMAGE>
	                    			</a>
								</div>
							</THELIA_PRODUITSACC>
						</div>
					</T_ACC>
					<//T_ACC>

<!-- Boucle conditionnelle si le produit possède des contenus associés -->					
					<T_CONTENU>
						<div id="contenu_texte" style="float:left;width:340px;height:150px;padding-left:50px;border-left-width: 1px;border-left-style: dotted;border-left-color: #12335b;">
							<div class="titrePage">
								<h2>Le contenu associé </h2>
							</div>
							<br />
							<THELIA_PRODUITSACC type="CONTENUASSOC"  objet="#PRODUIT_ID" num="1">
								<THELIA_CONTENU type="CONTENU" aleatoire="1" id="#CONTENU">
									<a href="#URL"><div  class="titreProduit">#TITRE </div></a>
									<div style="text-align:justify;padding-right:10px;">#FILTRE_lengthmax(#DESCRIPTION||200)</div>
									<br />
								</THELIA_CONTENU>
							</THELIA_PRODUITSACC>
						</div>
					</T_CONTENU>
					<//T_CONTENU>
				</div>
			</div>
			#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>