<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"
<!-- main css -->
<!-- Commentaire conditionnel pour IE6-5.x -->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie5-6.css" />
<![endif]-->
<!-- Commentaire conditionnel pour IE5.x -->
<!--[if lt IE 6]>
	<link rel="stylesheet" type="text/css" href="styles.css" />
<![endif]-->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="menuDeroulant.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>

	<!-- global wrapper -->
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html" 
		#INCLURE "compte.html" 
		
		
			
  	<!-- Contenu -->
	
		<div id="content">
			#INCLURE "menu.html" 	
  
  	<!-- chemin -->
	 <THELIA_PROD type="PRODUIT" ref="#PRODUIT_REF"> 
			<div id="chemin">
			<a href="index.php">Accueil boutique</a> / <a href="la-collection_1_.html">La collection</a> /
			<span class="bold"><a href="#REWRITEURL">#RUBTITRE</a></span>		
			
			/ <span class="bold">#TITRE </span>			</div>
	
			<div id="fondContenu">			
				
	<!-- lising  -->

				<div class = "CadreGrandPiece" style="overflow: hidden;zoom: 1">
				
					<div class="pieceGrand" style="overflow: hidden; zoom: 1">
						<div class="headPieceGrand" style="overflow: hidden;zoom: 1">
						</div>
						<div class="legendePieceGrand" style="overflow: hidden;zoom: 1">
						
							<THELIA_img type="IMAGE" num="1" produit="#ID" largeur="300">
			 <a href="#" onclick="window.open('imgpop.php?ref=#PRODUIT_REF&id_image=#ID', '', 'toolbar,width=600,height=840')">
			 <img src="#GRANDE"  alt="#PRODTITRE" title="#PRODTITRE" border="0" class="contourVignettes"  id="photozoom" /></a>		   
			 
			  		</THELIA_img> 
						
						</div>
						<div class="legendePieceGrand" style="overflow: hidden;zoom: 1">
							<div class="textePieceGrand" style="overflow: hidden;zoom: 1">
							<span class="bold">#TITRE</span> <br />#DESCRIPTION
							</div>
							<div class="prixPieceGrand" style="overflow: hidden;zoom: 1">
							<span class="bold">#PRIX &euro; </span>
							</div>
						</div>
						<div class="footerPieceGrand" style="overflow: hidden;zoom: 1">
						<div class="boutonDeBase120" style="overflow: hidden;zoom: 1">
							<dl class="boutonForm120">
							<dt><a href="panier.php?action=ajouter&ref=#REF">Ajouter</a></dt>
							</dl>
						</div>	
						</div>
					</div>   
					
				</div>
				
			</div>
			</THELIA_PROD>
	<!-- page suivante / Page précédente -->
			<div id="Pages">
			<THELIA_PAGEPREC type="PAGE" rubrique="#RUBRIQUE_ID" caracteristique="#CARACTERISTIQUE_ID" caracdisp="#CARACTERISTIQUE_DISP" num="9" typeaff="0">
			<a href="rubrique.php?id_rubrique=#RUBRIQUE_ID&page=#PAGE_PREC">Page pr&eacute;c&eacute;dente</a>
			</THELIA_PAGEPREC>
			
			<THELIA_CPAGE type="PAGE" rubrique="#RUBRIQUE_ID"  num="9" max="10" typeaff="1" profondeur="1">
				|
                <THELIA_PAGECONT_PASCOUR type="PAGE" rubrique="#RUBRIQUE_ID"  num="9" courante="0" pagecourante="#PAGE_NUM" max="10" typeaff="1" profondeur="1"> 
				 <a href="rubrique.php?id_rubrique=#RUBRIQUE_ID&page=#PAGE_NUM">#PAGE_NUM</a>
				   </THELIA_PAGECONT_PASCOUR>
			     |
			        <THELIA_PAGECONT_COUR type="PAGE" rubrique="#RUBRIQUE_ID" caracteristique="#CARACTERISTIQUE_ID" caracdisp="#CARACTERISTIQUE_DISP" num="9" courante="1" pagecourante="#PAGE_NUM" max="10" typeaff="1" profondeur="1"> 
				   <a href="#">#PAGE_NUM</a>
				   </THELIA_PAGECONT_COUR>  
				</THELIA_CPAGE>	
				 | 
			   <THELIA_PAGESUIV type="PAGE" rubrique="#RUBRIQUE_ID" caracteristique="#CARACTERISTIQUE_ID" caracdisp="#CARACTERISTIQUE_DISP" num="9" max="10" typeaff="0" profondeur="1"> 
					<a href="rubrique.php?id_rubrique=#RUBRIQUE_ID&page=#PAGE_SUIV">Page suivante</a>
			</THELIA_PAGESUIV>
			</div>
		</div>
			  #INCLURE "pied.html"

	</div>
	
</div>
#INCLURE "referer.html"
</body>
</html>