<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "meta.html"

	<link rel="stylesheet" href="js/jquery.superbox.css" type="text/css" media="all" />
	<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.superbox-min.js"></script>
	<script type="text/javascript">
		$(function(){
			$.superbox.settings = {
				overlayOpacity: .8, 
				closeTxt: "Fermer",
				loadTxt: "Chargement...",
				nextTxt: "Image suivante",
				prevTxt: "Image précédente"
			};
			$.superbox();
		});
	</script>
    
    
    

</head>
<body>
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">
        	Vous &ecirc;tes ici :
			<a href="index.php">Accueil boutique</a> / 
			<THELIA_chemrub type="CHEMIN" rubrique="#RUBRIQUE_ID">
			<THELIA_rubdetchem type="RUBRIQUE" id="#ID">
			<a href="#URL">#TITRE</a> /
			</THELIA_rubdetchem>
			</THELIA_chemrub> 
			<THELIA_rubcour type="RUBRIQUE" id="#RUBRIQUE_ID">
			<a href="#URL">#TITRE</a> /
			</THELIA_rubcour>
			#PRODUIT_NOM 
		</div>
		#INCLURE"menu.html"
		<div id="contenu">
            <div class="blocProduit">
				<THELIA_PROD type="PRODUIT" ref="#PRODUIT_REF"> 
				<h2>#TITRE</h2>
                <div class="blocDImages">
                    <THELIA_img type="IMAGE" num="1" produit="#ID" largeur="342">
                    <THELIA_ZOOM type="IMAGE"  num="1" id="#ID" largeur="500">
                    <a href="#IMAGE" rel="superbox[gallery][my_gallery]" class="grandeImage">
                    </THELIA_ZOOM>
                    <img src="#IMAGE" alt="#PRODTITRE" title="#PRODTITRE"/>
                    </a>
                    </THELIA_img>
					<T_vignette>
                    <ul class="vignettes">
                    	<THELIA_vignette type="IMAGE" produit="#ID" debut="2" hauteur="81">
						<li>
							<THELIA_ZOOM_VIGNETTE type="IMAGE"  num="1" id="#ID" largeur="500">
                            <a href="#IMAGE" rel="superbox[gallery][my_gallery]">
							</THELIA_ZOOM_VIGNETTE>
                            <img src="#IMAGE" alt="#PRODTITRE" title="#PRODTITRE"/>
							</a>
						</li>
                    	</THELIA_vignette>
                    </ul>
					</T_vignette>
					<//T_vignette>
                </div>
                <div class="introProduit">
                	<div class="chapo">#CHAPO</div>
					#PROMO[<span class="prixProduit">#PRIX2 &euro;</span> au lieu de #PRIX &euro;][<span class="prixProduit">#PRIX &euro;</span>]
					<!-- Stock disponible : #STOCK-->
                	<THELIA_stock type="PRODUIT" ref="#REF" stockmini="1">
                	<p><a class="acheter" href="#PANIER"><span><span>Ajouter au panier</span></span></a></p>
                	</THELIA_stock>
				</div>
                <div class="description">#DESCRIPTION</div>
				<T_DOCUMENT>
				<div class="telechargements">				
					<h3>T&eacute;l&eacute;chargement(s)</h3>
					<ul>
                		<THELIA_DOCUMENT type="DOCUMENT" produit="#PRODUIT_ID">
                		<li><a href="#FICHIER">#TITRE</a></li>
						</THELIA_DOCUMENT>
					</ul>
				</div>
				</T_DOCUMENT>
				<//T_DOCUMENT>
            	<T_CONTENU>
				<div class="contenusAssocies">				
            		<h3>En savoir +</h3>
            		<ul>
            			<THELIA_PRODUITSACC type="CONTENUASSOC" objet="#PRODUIT_ID" num="1">
            			<THELIA_CONTENU type="CONTENU" aleatoire="1" id="#CONTENU">
            			<li><a href="#URL">#TITRE</a></li>
            			</THELIA_CONTENU>
            			</THELIA_PRODUITSACC>
            		</ul>
				</div>
				</T_CONTENU>
            	<//T_CONTENU>
				</THELIA_PROD>
			</div>
			<T_ACC>
            <div class="blocMozaique">
                <h3>Nous vous proposons &eacute;galement</h3>
                <div class="contenu">
					<ul class="image">			
                		<THELIA_ACC type="ACCESSOIRE" aleatoire="1" produit="#PRODUIT_ID" num="8">
                    	<li>
                            <THELIA_LIEN_PROD type="PRODUIT" id="#ACCESSOIRE">
                            <a href="#URL">
                            </THELIA_LIEN_PROD>
                            <THELIA_IMAGE type="IMAGE" num="1" produit="#ACCESSOIRE" hauteur="81">
							<img src="#IMAGE" alt="#TITRE" title="#TITRE"/>
                            </THELIA_IMAGE>
                            </a>
                    	</li>
              			</THELIA_ACC>
                    </ul>
                </div>
            </div>   
			</T_ACC>
			<//T_ACC>                         
		</div>
		#INCLURE "pied.html"
		#INCLURE "signature.html"
	</div>
</div>
</body>
</html>
