<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

</head>
<body>
	
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "entete.html"
		<div id="chemin">
			Vous &ecirc;tes ici :<a href="index.php">Accueil boutique</a> / Erreur de paiement
		</div>
		#INCLURE"menu.html"
		<div id="contenu">
			<h2>Erreur de paiement</h2>
			<p>
			Nous vous informons que la procédure de paiement n'a pas pu aboutir.<br/>
			Veuillez vous renseigner aupr&egrave;s de votre &eacute;tablissement bancaire.
			</p>
          	<p>
          	Bonne navigation et à bientôt.
          	</p>
		</div>
		#INCLURE "pied.html"
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>
