<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "meta.html"

<link href="styles.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

<!-- wrapper & subwrappe r-->
	
<div id="wrapper">
	<div id="subwrapper">
	
	#INCLURE "entete.html"
		
<!-- chemin -->	
		
		<div id="chemin">
		Vous &ecirc;tes ici :
		<a href="index.php" class="LIEN_chemin">Accueil boutique</a> /Choix du mode de livraison
		</div>
		
<!-- contenu -->
	
		<div id="content">
		
		#INCLURE"menu.html"
		
			<div id="contenu">
			
<!-- Titre de la rubrique -->

				<div class="titrePage">
				<h2>Choix du mode de livraison </h2>
				</div>
				
<!-- contenu de la page -->

				<div class="sousTitrePage">
				<h3>Type de livraison &amp; tarif </h3>
				</div>
			
				<div class="textePage">
				<THELIA_transport type="TRANSPORT">
				#TITRE #PORT Ä<br />
				<a href="#URLCMD">S&eacute;lectionner ce type de livraison </a>
				</THELIA_transport>
				</div>
				<div class="boutonMonCompteContenu">
				<a href="#URLPREC">Page prÈcedente</a>
				</div>
			</div>
			#INCLURE "pied.html"
		</div>
	</div>
	#INCLURE "signature.html"
</div>
</body>
</html>