<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Filtre langue</nom>
 	<version>1.0</version>
 	<prefix>filtrelang</prefix>
	<type>classique</type>
 	<auteur>Yoan De Macedo - yoan@octolys.fr</auteur>
 	<thelia>1.4.0</thelia>
 	<description>Ce filtre permet d'afficher une info pour une langue particuli'</description>
	<lien>http://contrib.thelia.fr/spip.php?article53</lien>
	<documentation>Readme.txt</documentation>
 	<etat>production</etat>
	<install>http://contrib.thelia.fr/IMG/zip/alertstock.zip</install>
</plugin>