<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>TinyMCE</nom>
 	<version>1.0</version>
 	<prefix>tinymce</prefix>
	<type>classique</type>
 	<auteur>Yoan De Macedo - yoan@octolys.fr</auteur>
 	<thelia>1.4.0</thelia>
 	<description>Ce plugin ajoute un éditeur WYSIWYG dans différentes pages de l'interface d'administration</description>
	<lien></lien>
	<documentation>Readme.txt</documentation>
 	<etat>production</etat>
	<install></install>
</plugin>