body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 10px;
	padding: 0;
	text-align: center;
}

a {
color: #5a4a41;
text-decoration: none;
}

a:hover {
color: #5a4a41;
text-decoration: underline;
}


a.lienpanier:hover {
	background-color: #e3dedb;
	text-decoration: none;
}

.tpanier {
	width: 400px;
}

.tcmd {
	width: 400px;
}

td, th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC
}

h1 {
	float: left;
	overflow: hidden;
	zoom: 1;
	max-width: 203px;
	margin: 0;
	padding: 0;
}

h2 {
	text-align: right;
	color: #5a4a41;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
h3 {
	text-align: left;
	color: #5a4a41;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* global wrapper */

#wrapper {
max-width: 980px;
width: 980px;
margin: 0 auto;
text-align: left;
padding: 0 5px 0 0;
overflow: visible;
position: relative;
}

#subwrapper {
	overflow: hidden;
	position: relative;
	padding: 0;
}

/* entête */
#entete {
	float: left;
	width: 980px;
	padding: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
}

/* Formulaire */

.geneva11bold_gris {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #626469;
	font-weight: bold;
}
.geneva11reg_grisclair {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
}
.geneva11reg_gris {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #626469;
}
.filet_gris {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #626469;
	background-color: #F0F3F3;
}
.filet_gris2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #626469;
	background-color: #E8EDED;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	text-align:left;
}

/* navVerticale - vertical */


#navVerticaleHome {
	float: left;
	width: 207px;
	font-size: 11px;
	padding: 0;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 30px;
}

#navVerticaleHome li {
	zoom: 1;
	margin: 0px 0px 5px 0px;
}

#navVerticaleHome li li {
	zoom: 1;
	margin: 1px 0 0 0;
}

#navVerticaleHome a {
	zoom: 1;
	display: block;
	padding: 1px 0px 1px 10px;
}

#navVerticaleHome a:hover, #navVerticale .selected {
background-color: #e3dedb;
text-decoration: none;
}

#navVerticale {
	float: left;
	width: 207px;
	font-size: 11px;
	padding: 0;
	margin-top: 50px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
}

#navVerticale li {
	zoom: 1;
	margin: 0px 0px 5px 0px;
}

#navVerticale li li {
	zoom: 1;
	margin: 1px 0 0 0;
}

#navVerticale a {
	zoom: 1;
	display: block;
	padding: 3px 0px 3px 10px;
}

#navVerticale a:hover, #navVerticale .selected {
background-color: #e3dedb;
text-decoration: none;
}


/* content wrapper */


.fondContenuListe {
	margin: 0px;
	padding: 0px;
	width: 250px;
}

.fondContenuBlanc {
	margin: 0px;
	padding: 0px;
}


.fondContenuIndex {
	float: left;
	width: 555px;
	margin: 0px;
	padding: 0px;
}

.Description {
	color:#006633
}

#content {
	padding: 0;
	clear: both;
	margin: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aca4a0;
}

/* vignettes */

.contourVignettes {
	border: 1px solid #887e78;
}

/* generic classes */

.floatleft {
	float: left;
	margin: 0;
}

.ListingPetit {
	float: left;
	width: 410px;
	margin: 0;
	padding: 0px 0px 0px 10px;
}

.Tabcentre {
	float: left;
	width: 410px;
	margin: 0;
	padding: 50px 0px 0px 10px;
}


.Petit {
	float: left;
	margin: 0;
	width: 115px;
}

.Grand {
	float: left;
	margin: 0;
	width: 300px;
	padding: 82px 31px 0px 29px;
}

.CadreGrand {
	float: left;
	margin: 0;
	width: 300px;
	background-repeat: no-repeat;
}


.legende {
	float: left;
	width: 105px;
	color: #5a4a41;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #5a4a41;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.legendegrand {
	float: left;
	width: 230px;
	color: #5a4a41;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #5a4a41;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 60px;
	margin-left: 0px;
}

.bold {
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.floatright {
float: right;
margin: 0;
}
.clear {
clear: both;
}
.center {
text-align: center;
}
.right {
text-align: right;
}
.valign img {
vertical-align: middle;
}
.border {
border: 1px solid #ff7f00;
margin: 15px 0;
}
.borderbig {
border: 3px solid yellow;
}
.overflow {
overflow: hidden;
}
.Moteur {
	float: left;
	width: 395px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 5;
	text-align: right;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 0px;
	font-size: 11px;
	color: #3b2e26;
}

.prix {
	font-weight: bold;
	font-size: 12px;
}

.titrerub {
	font-weight: bold;
	font-size: 13px;
}

/* Tout savoir */

#content p {
	
	font-size: 12px;
	
}

#content h3 {
	margin-top: 20;
	margin-right: 0;
	margin-bottom: 20;
	margin-left: 10;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #996699 ;
	text-transform:uppercase;
}

#content h4 {
	margin-top: 20;
	margin-right: 0;
	margin-bottom: 20;
	margin-left: 10;
	text-align: left;
	font-size: 13px;
	color: #663366;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

/* footer */

.footerHome{
	float: left;
	width: 980px;
	font-size: 11px;
	color: #5a4a41;
	text-align: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5;
	margin-left: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aca4a0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.footer{
	float: left;
	width: 980px;
	font-size: 11px;
	color: #5a4a41;
	text-align: right;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aca4a0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.col{
	width: 150px;
	padding-top: 10px;
	padding-bottom: 2px;
	float: left;

}

.enteteCnx{
	padding-left: 420px;
}

.Pages {
        float: left;
        width: 395px;
        text-align: right;
        font-size: 11px;
        color: #3b2e26;
        padding-top: 30px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin: 0;
}

.formErreur {
        font-size: 11px;
        color: #7c2e26;
}
