<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Fichier de langues</nom>
 	<version>1.0</version>
 	<prefix>fichierlang</prefix>
	<type>classique</type>
 	<auteur>Yoan De Macedo - yoan@octolys.fr</auteur>
 	<thelia>1.4.0</thelia>
 	<description>Ce plugin vous permet de gérer différents fichiers de langues afin de traduire le template.</description>
	<lien>http://contrib.thelia.fr/spip.php?article32</lien>
	<documentation>Readme.txt</documentation>
 	<etat>production</etat>
	<install>http://contrib.thelia.fr/IMG/zip/fichierlang.zip</install>
</plugin>