<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Filtre Hors taxe</nom>
 	<version>1.0</version>
 	<prefix>filtreht</prefix>
	<type>classique</type>
 	<auteur>Yoan De Macedo - yoan@octolys.fr</auteur>
 	<thelia>1.4.0</thelia>
 	<description>Ce plugin vous permet de convertir un prix en enlevant les taxes.</description>
	<lien></lien>
	<documentation>Readme.txt</documentation>
 	<etat>production</etat>
	<install></install>
</plugin>